/*PC*/
  /*全体*/
  .container-fluid{
    color: rgb(0,0,135);
    margin: 0 auto;
    text-align: center;
    font-family: 'Tangerine', sans-serif;
    font-size: 48px;
    width: 100%;
  }

  /*head以下*/

  .head{
    margin-top: 20px;
    /*border: 1px solid;*/
    height: 200px;
    background: url("./img/pic01.jpg") fixed 50%;
    background-size: cover;
    display: table;
    width: 100%;

  }

  .head-wrapper{
    background: linear-gradient(120deg,rgba(19, 178, 102, 0.72), rgba(38, 184, 208, 0.72), rgba(50, 107, 185, 0.72), rgba(193, 71, 183, 0.72), rgba(206, 61, 104, 0.72)) fixed;
    height: 200px;
    display: table-cell;
    vertical-align: middle;
    font-weight:bold;
    font-size: 100px;
  }


  /*body以下*/

  .row{
    display:flex;
    justify-content: center;
    padding: 0 15px;
  }


  .col-left, .col-right{

    border: 1px solid black;
    /*margin-bottom: 20px;*/
    height: 200px;
    /*text-decoration: underline;*/

  }

  .name{
    display: inline-block;
    border-bottom: 1px solid;
    height:50px;
  }

  .colorName{
    font-size: 18px;
    font-family: 'Inconsolata', sans-serif;
  }




  .contents{
    border: 1px solid black;
    padding: 20px;
    height: 400px;
    text-decoration: underline;
  }

  .footer{
    margin: 10px;
  }


  .copyright{
    margin: 5px auto;
    font-size: 12px;
    font:gray;
    font-family:sans-serif;
    display:inline;
  }


/*sns button*/

  .snsButton {
    margin: 5px 5px 0;
    display: inline;
    -ms-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
  }

  /* Icons */

  .snsIcon {
    font-size: 12px;
    color:#fff;
    background: #DB6E82;
    border-radius:15px;
    text-align:center;
    text-decoration:none;
    font-family:fontawesome;
    position: relative;
    display: inline-block;
    width:30px;
    height:30px;
    padding-top: 6px;
    -o-transition:all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
     -webkit-font-smoothing: antialiased;
  }

  .snsIcon:hover {
    background: #ef92a3;
  }

  /* pop-up text */

  .snsIcon span {
    color:#fff;
    position:absolute;
    font-family:sans-serif;
    bottom:0;
    left:-25px;
    right:-25px;
    padding:5px 7px;
    z-index:-1;
    font-size:12px;
    border-radius:2px;
    background:#DB6E82;
    visibility:hidden;
    opacity:0;
    -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }


  /* text pops up when icon is in hover state */

  .snsIcon:hover span {
    bottom:35px;
    visibility:visible;
    opacity:1;
  }

  /* font awesome icons */

  .snsIcon:nth-of-type(1):before {
  content:'\f09a';
  size:2px;
  }
  .snsIcon:nth-of-type(2):before {
  content:'\f099';
  }
  .snsIcon:nth-of-type(3):before {
  content:'\f113';
  }
